.hrvfb_feedbackbutton {
  position: fixed;
  width: 150px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  bottom: 10px;
  right: 10px;
}

.hrvfb_dom_ready {
  color: #fff;
  font-weight: bold;
  width: 150px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 10px;
  right: 10px;
}

.hrvfb_overlay {
  opacity: 0.8;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

body.hrvfb__has-overlay{
  /* Remove scroll */
}

.hrvfb_canvasobject {
  position: fixed;
  top: 50px;
  max-height: 250px;
  overflow: hidden;
  background: #000;
  text-align: center;
}

.hrvfb_feedback_text {
  position: fixed;
  min-height: 200px;
}

.hrvfb_feedback_text input,
.hrvfb_feedback_text textarea{
  width: 100%;
}

.hrvfb_dom_actions {
  position: fixed;
}

.hrvfb_btn {
  z-index: 999999;
  cursor: pointer;
  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}

.hrvfb_btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hrvfb_btn:hover:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

.hrvfb_btn.hrvfb_dom_cancel {
  background: red;
  font-weight: bold;
  width: 150px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}


.hrvfb_btn.hrvfb_dom_send {
  font-weight: bold;
  width: 150px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 10px;
  right: 10px;
}

.hrvfb_help-text {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  display: none;
}
.hrvfb_help-text .hrvfb_help-text__content{
  background: #2ecc71;
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  color: #fff;
}

body.hrvfb_feedback_active {
  cursor: pointer;
}

.hrvfb_dom_actions .hrvfb_btn {
  padding: 10px;
  margin: 0px 5px;
  background: #fff;
}

body.hrvfb__has-overlay > div:not(.hrvfb_element) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}


.hrvfb_active_element {
  position: relative!important;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8)!important;
  z-index: 99999!important;
}
